<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
    <connectionStrings>
        <add name="con" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TAFReportSimple;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="con12" connectionString="Data Source=.\SQLEXPRESS12;Initial Catalog=TAFReportSimple;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>